<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NuvemShopping</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1 class="logo">Nuvem<span>Shopping</span></h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
        <input type="text" placeholder="Busca" id="search">
        <div id="cart-icon">
            <img src="img/carrinhodecompra.png" alt="Carrinho de Compras">
            <span id="cart-count">0</span>
        </div>
    </header>
    <main>
        <section class="product">
            <img src="img/G03.jpg" alt="Produto 1">
            <div class="product-info">
                <h2>Playstation 5</h2>
                <p class="price">R$ 4,500,00</p>
                <p class="description">Descrição: Playstation 5 é a geração mais recente, oferecendo uma experiência de jogo imersiva e inovadora,com um design futurista e elegante, a PS5 se destaca tanto no desempenho quanto na estética.Trazendo melhorias no seu desempemnho gráfico que traz resoluçao 4k a 1120 fps, controle Dual Sense que permite os jogadores sintam as ações mais realistas e imersivas, compatibilidade com o ps4,assim deixando os jogos de ps4 compatíveis com o ps5 e aprimoramentos de resfriamento, o sistema de refrigeração do PS5 é mais eficiente, resultando em um funcionamento mais silencioso durante longas sessões de jogo. </p>
                <p>Acessórios:<br>1xControle Dual Sense<br>1xCarregador Usb Tipo-C</p>
                <p class="rating">Avaliação:⭐⭐⭐⭐⭐</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
        <section class="product">
            <img src="img/pcgamer.jpg" alt="Produto 2">
            <div class="product-info">
                <h2>Computador Gamer</h2>
                <p class="price">R$ 12.300,00</p>
                <p class="description">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <p class="rating">Avaliação:⭐⭐⭐⭐</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
        <section class="product">
            <img src="img/ssdm2.jpg" alt="Produto 3">
            <div class="product-info">
                <h2>SSD Kingston NV2 1TB NVMe</h2>
                <p class="price">R$ 370,00</p>
                <p class="description">Descrição:SSD Kingston NV2 1TB NVMe M.2 2280 (Leitura até 3500MB/s e Gravação até 2100MB/s).</p>
                <p class="rating">Avaliação:⭐⭐⭐⭐⭐</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>

        <section class="product">
            <img src="produto4.jpg" alt="Produto 4">
            <div class="product-info">
                <h2>Produto 4</h2>
                <p class="price">R$ XXX,XX</p>
                <p class="description">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <p class="rating">Avaliação:⭐⭐⭐⭐⭐</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
 <section class="product">
            <img src="produto4.jpg" alt="Produto 4">
            <div class="product-info">
                <h2>Produto 4</h2>
                <p class="price">R$ XXX,XX</p>
                <p class="description">Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
                <p class="rating">Avaliação:⭐⭐⭐⭐⭐</p>
                <button>Adicionar ao Carrinho</button>
            </div>
        </section>
    </main>
    <aside>
        <h2>Carrinho de Compras</h2>
        <ul id="cart"></ul>
    </aside>
    <script src="script.js"></script>
</body>
</html>